.inputBox{
   height: 200px;
   width: 350px;
   background-color: white;
   margin-top: 20px;
   margin-left: 20px;
   border: 1px #aaa;
   box-shadow: 5px 5px 5px 5px #aaa;
   display: flex;
   border-radius: 10px;
}

.input{
    outline: none;
    border: none;
    /* width: 200px; */
    margin-top: 20px;
    margin-left: 20px;
    height: 20px;
    font-size: 20px;

}



.input:focus{
    border-style: none none solid none;
    border-color: #aaa;
    border-width: 1px;
}

.desc{
    height: 100px;
}

.submit{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgray;
    cursor: pointer;
    font-size: 40px;
}

.add{
    /* background-color: aqua; */
    height: 35px;
    margin-top: 150px;
    margin-left: 30px;
}